header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
  }

/* Estilo para el enlace (a) */
header a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del texto del <h1> */
  cursor: pointer; /* Cambia el cursor a mano cuando se pasa por encima */
  transition: color 0.3s ease;
}

header a:hover {
  color: #adcff3; /* Cambia el color cuando el enlace es hover (puedes personalizarlo) */
  text-decoration: none; /* Asegura que no aparezca el subrayado en el hover */
}

/* Estilo para el <h1> */
header h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}
