/* Estilo base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.home-container {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Estilo para las cuadrículas */
.grid-container {
  margin: 40px 0;
}

.grid-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
  font-weight: 600; /* Un poco de énfasis para el título */
}

/* Estilo para el contenedor de las tarjetas usando Flexbox */
.grid {
  display: flex;
  flex-wrap: wrap;         /* Permite que las tarjetas se acomoden a varias filas */
  gap: 20px;              /* Espacio entre tarjetas */
  justify-content: center; /* Centra las tarjetas */
}

/* Estilo para las tarjetas */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;            /* Ancho fijo de las tarjetas */
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  text-align: left;      /* Cambia el cursor para indicar que es clickeable */
  overflow: hidden;        /* Para asegurar que el contenido no desborde */
}

.enlace {
  cursor: pointer;  
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 600;        /* Un poco de énfasis para el nombre del centro */
  color: #333;             /* Color del texto */
}

.card p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 10px;     /* Espaciado entre párrafos */
}

/* Efecto para las tarjetas al pasar por encima */
.card:hover {
  transform: translateY(-5px); /* Levanta la tarjeta al pasar el ratón */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

/* Enlace dentro de las tarjetas */
.card-link {
  text-decoration: none;     /* Quitar el subrayado */
  color: inherit;            /* Heredar el color de la tarjeta */
  display: block;            /* Hacer que el enlace ocupe toda la tarjeta */
  height: 100%;              /* Asegurarse de que el enlace cubra toda la tarjeta */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .grid {
    justify-content: flex-start; /* Alinea las tarjetas a la izquierda */
  }

  .card {
    width: 100%;  /* Las tarjetas ocupan todo el ancho en pantallas pequeñas */
    margin-bottom: 15px; /* Añadir espacio entre las tarjetas en pantallas pequeñas */
  }
}
