<section class="home-container">
    <h1>API de centros cívicos</h1>
    <!-- Mostrar mensaje de bienvenida con el correo del usuario si está autenticado -->
    <p *ngIf="authService.isAuthenticated()">Hola {{ userEmail }}</p>

    <!-- Mostrar mensaje por defecto si no está autenticado -->
    <p *ngIf="!authService.isAuthenticated()">Esta es la página de inicio.</p>

    <!-- Mostrar botón de login si no está autenticado -->
     <div *ngIf="!authService.isAuthenticated()">
        <button [routerLink]="['/login']">Iniciar sesión</button>
        <button [routerLink]="['/register']">Registrarse</button>
    </div>

    <!-- Mostrar botones de refrescar token y cerrar sesión si está autenticado -->
    <div *ngIf="authService.isAuthenticated()">
        <button (click)="refreshToken()">Refrescar token</button> <!-- Redirige a la ruta /dashboard -->
        <button (click)="logout()">Cerrar sesión</button>
    </div>

    <!-- Botones que se muestran solo si el usuario está logeado. Permite gestionar y ver sus inscripciones y reservas-->
    <h2 *ngIf="authService.isAuthenticated()">Inscripciones y reservas</h2>
    <div *ngIf="authService.isAuthenticated()">
        <button [routerLink]="['/inscripciones']">Ver inscripciones</button> <!-- Redirige a la ruta /inscripciones -->
        <button [routerLink]="['/reservas']">Ver reservas</button> <!-- Redirige a la ruta /reservas -->
    </div>

    <!-- Mostrar botón para ver centros, instalaciones y actividades. SECCIÓN PÚBLICA-->
    <div>
        <h2>Sección pública</h2>
        <button [routerLink]="['/centros']">Ver centros</button> <!-- Redirige a la ruta /centros -->
        <button [routerLink]="['/instalaciones']">Ver instalaciones</button> <!-- Redirige a la ruta /instalaciones -->
        <button [routerLink]="['/actividades']">Ver actividades</button> <!-- Redirige a la ruta /actividades -->
    </div>
</section>