<section class="home-container">
    <h1>Centros Cívicos de Córdoba</h1>
    <p *ngIf="authService.isAuthenticated()">Bienvenido {{ userName }}</p>
    <p *ngIf="!authService.isAuthenticated()">Bienvenido invitado</p>
    
    <!-- Cuadrícula de Centros -->
    <div class="grid-container">
        <h2>Centros Cívicos</h2>
        <div class="grid">
        <div *ngFor="let centro of centros" class="card enlace">
            <!-- Verifica si el usuario está logueado para hacer la tarjeta clickeable -->
            <a [routerLink]="'/centros/' + centro.id" class="card-link">
            <h3>{{ centro.nombre }}</h3>
            <p>Dirección: {{ centro.direccion }}</p>
            <p>Teléfono: {{ centro.telefono }}</p>
            </a>
        </div>
        </div>
    </div>
  
    <!-- Cuadrícula de Instalaciones -->
    <div class="grid-container">
      <h2>Instalaciones</h2>
      <div class="grid">
        <div class="card" *ngFor="let instalacion of instalaciones">
          <h3>{{ instalacion.nombre }}</h3>
          <p>Capacidad: {{ instalacion.capacidad_maxima }}</p>
          <p>Descripción: {{ instalacion.descripcion }}</p>
          <p><strong>Centro:</strong> 
            <a [routerLink]="'/centros/' + instalacion.id_centro">
              {{ getCentroName(instalacion.id_centro) }}
            </a>
          </p> 
        </div>
      </div>
    </div>
  
    <!-- Cuadrícula de Actividades -->
    <div class="grid-container">
      <h2>Actividades</h2>
      <div class="grid">
        <div class="card" *ngFor="let actividad of actividades">
          <h3>{{ actividad.nombre }}</h3>
          <p>Fecha inicio: {{ actividad.fecha_inicio }}</p>
          <p>Fecha final: {{ actividad.fecha_final }}</p>
          <p>Horario: {{ actividad.horario }}</p>
          <p><strong>Centro:</strong> 
            <a [routerLink]="'/centros/' + actividad.id_centro">
              {{ getCentroName(actividad.id_centro) }}
            </a>
          </p> 
        </div>
      </div>
    </div>
  </section>
  