<h2> Nueva inscripción</h2>
<h3> {{ nombreActividad }}</h3>
<h3> {{ nombreCentro }}</h3>

<form (ngSubmit)="crearInscripcion()">
  <!-- Nombre -->
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" [(ngModel)]="inscripcion.nombre" name="nombre" required
           minlength="3" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+" 
           aria-label="Nombre del participante">
  </div>

  <!-- Teléfono -->
  <div class="form-group">
    <label for="telefono">Teléfono</label>
    <input id="telefono" type="tel" [(ngModel)]="inscripcion.telefono" name="telefono" required
           pattern="^[0-9]{9,15}$" 
           aria-label="Número de teléfono válido">
  </div>

  <!-- Fecha de inscripción -->
  <div class="form-group">
    <label for="fecha_inscripcion">Fecha de inscripción</label>
    <input id="fecha_inscripcion" type="datetime-local" [(ngModel)]="inscripcion.fecha_inscripcion"
           name="fecha_inscripcion" required 
           aria-label="Fecha en la que se realiza la inscripción">
  </div>

  <!-- Botón de Envío -->
  <div class="form-buttons">
    <button type="submit" class="submit-button">Crear Inscripcion</button>
    <button type="button" class="back-button" (click)="goBack()">Volver</button>
  </div>
</form>
