<h2>Mis inscripciones</h2>

<div *ngIf="inscripciones.length > 0; else noInscripciones">
    <ul>
      <li *ngFor="let inscripcion of inscripciones">
        <p><strong>Nombre:</strong> {{ inscripcion.nombre }}</p>
        <p><strong>Correo:</strong> {{ inscripcion.correo }}</p>
        <p><strong>Teléfono:</strong> {{ inscripcion.telefono }}</p>
        <p><strong>Estado:</strong> {{ inscripcion.estado }}</p>
        <p><strong>Fecha Inscripción:</strong> {{ inscripcion.fecha_inscripcion }}</p>
        
        <!-- Botón para eliminar la inscripción -->
        <button (click)="eliminarInscripcion(inscripcion.id)">Eliminar</button>
      </li>
    </ul>
  </div>
  
  <ng-template #noInscripciones>
    <p>No tienes inscripciones.</p>
  </ng-template>
